[Unit]
Description=A daemon for auto-mounting USB devices.
Requires=usbmuxd.service udisks2.service
After=usbmuxd.service udisks2.service

[Service]
ExecStart=/usr/bin/automounter